.pattern-template {
  animation: pulse 2s ease-in-out infinite;
  background-color: #27738c;
  border: none;
  border-radius: 0.5em;
  color: #fff;
  cursor: pointer;
  font-size: 2em;
  padding: 0.5em 1em;
  transition-duration: 0.3s;
  transition-property: transform, box-shadow, background-color;
  transition-timing-function: ease-out;
}

.pattern-template:hover,
.pattern-template:focus {
  background-color: #587baa;
}

.pattern-template:active {
  animation: none;
  transform: scale(0.95);
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.25);
}

@keyframes pulse {
  0% {
    transform: scale(0.975);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
  }

  50% {
    transform: scale(1.025);
    box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.25);
  }

  100% {
    transform: scale(0.975);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
  }
}