/**
 * Semantic card pattern based upon https://inclusive-components.design/cards/
 */

.EP_card {
  border: var(--EP_border-size) solid var(--EP_color-med-grey);
  border-radius: var(--EP_border-radius);
  overflow: hidden;
  position: relative;
  transition: transform var(--EP_transition-prompt);

  @media (min-width: 800px) {
    display: flex;
  }
}

.EP_card:hover,
.EP_card:focus {
  box-shadow: var(--EP_shadow-default);
  transform: translateY(-2px);
}

.EP_card__content {
  padding: 1.5em;
}

.EP_card__graphic {
  flex-shrink: 0;
  transition: transform var(--EP_transition-prompt);
}

.EP_card__primary-action {
  color: var(--EP_color-text);
}

.EP_card__primary-action:hover {
  text-decoration: none;
}

.EP_card__primary-action::after {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.EP_card__secondary-action {
  position: relative;
  z-index: 1;
}
