:root {
  --EP_label-border-width: 0.3em;
}

.EP_label {
  background: var(--EP_color-light-grey);
  border-radius: 0.1em;
  display: inline-block;
  margin-right: 0.5em;
  margin-bottom: 0.25em;
  padding: 0.3em 0.5em;
}

.EP_label--wip {
  border-left: var(--EP_label-border-width) solid var(--EP_color-dark-grey);
}

.EP_label--approved {
  border-left: var(--EP_label-border-width) solid var(--EP_color-success);
}

.EP_label--archived {
  border-left: var(--EP_label-border-width) solid var(--EP_color-danger);
}

.EP_label--patternready {
  border-left: var(--EP_label-border-width) solid var(--EP_color-misc);
}