.EP_layout {
  background: #fff;
  font-family: var(--EP_font-system);
}

.EP_layout__home {
  padding: 1.5em;
}

.EP_layout__content {
  position: relative;
}

.EP_layout__category,
.EP_layout__sidebar {
  padding: 1.5em;
}

.EP_layout__sidebar {
  background: var(--EP_color-light-grey);
  display: none;

  @media(min-width: 800px) {
    bottom: 0;
    display: block;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: var(--EP_sidebar-width);
  }
}

.EP_sidebar__menu {
  list-style: none;
  margin-top: var(--EP_nav-height);
}

.EP-nav-hidden .EP_sidebar__menu {
  margin-top: 0;
}

.EP_sidebar__menu-item > * + * {
  margin-top: 1.5em;
}

.EP_layout__category {
  overflow: hidden;

  @media(min-width: 800px) {
    margin-left: calc(var(--EP_sidebar-width) + 1.5em);
  }
}
