:root {
  --EP_nav-height: 5rem;
  --EP_sidebar-width: 17em;
  --EP_nav-spacing: 1.5rem;
}

.EP_layout {
  background: #fff;
  font-family: var(--EP_font-system);
}

.EP_layout__home {
  padding: var(--EP_nav-spacing);
}

.EP_layout__content {
  border-top: 1px solid var(--EP_color-med-grey);
  position: relative;
}

.EP_layout__category,
.EP_layout__sidebar {
  padding: var(--EP_nav-spacing);
}

.EP_layout__sidebar {
  background: var(--EP_color-light-grey);
  display: none;

  @media(min-width: 800px) {
    bottom: 0;
    display: block;
    overflow-y: auto;
    position: absolute;
    top: 0;
    width: var(--EP_sidebar-width);
  }
}

.EP_sidebar__menu {
  list-style: none;
}

.EP_sidebar__menu-item > * + * {
  margin-top: var(--EP_nav-spacing);
}

.EP_layout__category {

  @media(min-width: 800px) {
    margin-left: var(--EP_sidebar-width);
  }
}
