.EP_nav {
  background: var(--EP_color-white);
  border-bottom: var(--border-size-thin) solid var(--EP_color-med-grey);
  max-width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;

  @media (min-width: 800px) {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.EP_nav__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: var(--EP_nav-height);
  padding: var(--EP_nav-spacing);
}

.EP_nav__logo {
  color: var(--EP_color-text);
  text-decoration: none;
}

.EP_nav__category {
  border-top: var(--border-size-thin) solid var(--EP_color-med-grey);
}

.EP_nav__submenu-toggle {
  align-items: center;
  color: var(--EP_color-text);
  display: flex;
  justify-content: space-between;
  padding: var(--EP_nav-spacing);
}

.toggle-icon {
  color: var(--EP-color-text);
  transition: transform 0.5s ease;
}

.toggle-icon.is-open {
  transform: rotate(180deg);
}

.EP_nav__submenu,
.EP_nav__submenu-large {
  list-style: none;
}

.EP_nav__submenu {
  background: var(--EP_color-light-grey);
  border-top: var(--border-size-thin) solid var(--EP_color-med-grey);
  padding: var(--EP_nav-spacing);
}

.EP_nav__submenu:not(.is-open) {
  display: none;
}

.EP_nav__link {
  color: var(--EP_color-dark-grey);
  text-decoration: none;
}

.EP_nav__link:hover,
.EP_nav__link:active {
  text-decoration: underline;
}

.EP_nav__link-primary {
  color: var(--EP_color-text);
  text-decoration: none;

  @media (min-width: 800px) {
    margin-left: var(--EP_nav-spacing);
  }
}

.EP_nav__menu-toggle {
  background: var(--EP_color-light-grey);
  border: none;
  border-radius: var(--border-radius-small);
  color: var(--EP_color-dark-grey);
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;

  @media (min-width: 800px) {
    display: none;
  }
}

.EP_nav__menu {
  list-style: none;

  @media (min-width: 800px) {
    display: none;
  }
}

.EP_nav__menu:not(.is-open) {
  display: none;
}

.EP_nav__menu-large {
  display: none;
  list-style: none;

  @media (min-width: 800px) {
    display: flex;
    padding: var(--EP_nav-spacing);
  }
}
