.EP_nav {
  background: var(--EP_color-white);
  box-shadow:
    0 0 1px rgba(67, 90, 111, 0.47),
    0 2px 4px -2px rgba(67, 90, 111, 0.3);
  max-width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;

  @media (min-width: 800px) {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.EP_nav__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: var(--EP_nav-height);
  padding: 1.5em;
}

.EP_nav__logo {
  color: var(--EP_color-text);
  text-decoration: none;
}

.EP_nav__category {
  border-top: var(--border-size-thin) solid var(--EP_color-med-grey);
}

.EP_nav__submenu-toggle {
  align-items: center;
  color: var(--EP_color-text);
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
}

.toggle-icon {
  color: var(--EP-color-text);
  transition: transform var(--transition-prompt);
}

.toggle-icon.is-open {
  transform: rotate(180deg);
}

.EP_nav__submenu,
.EP_nav__submenu-large {
  list-style: none;
}

.EP_nav__submenu {
  background: var(--EP_color-light-grey);
  border-top: var(--border-size-thin) solid var(--EP_color-med-grey);
  padding: 1.5em;
}

.EP_nav__submenu:not(.is-open) {
  display: none;
}

.EP_nav__link {
  color: var(--EP_color-dark-grey);
  text-decoration: none;
}

.EP_nav__link:hover,
.EP_nav__link:active {
  text-decoration: underline;
}

.EP_nav__link-primary {
  color: var(--EP_color-text);
  text-decoration: none;

  @media (min-width: 800px) {
    margin-left: 1.5em;
  }
}

.EP_nav__menu-toggle {

  @media (min-width: 800px) {
    display: none;
  }
}

.EP_nav__menu {
  list-style: none;

  @media (min-width: 800px) {
    display: none;
  }
}

.EP_nav__menu:not(.is-open) {
  display: none;
}

.EP_nav__menu-large {
  display: none;
  list-style: none;

  @media (min-width: 800px) {
    display: flex;
    padding: 1.5em;
  }
}
