:root {
  --EP_nav-spacing: 1.5rem;
}

/**
 * This is starting to get really meta...
 * A pattern for displaying patterns
 */

.EP_pattern {
  background: var(--EP_color-med-grey);
  padding: 0.5em;
}

.EP_pattern__menu {
  list-style: none;
}

.EP_pattern__example {
  background: #fff;
  padding: 1em;
}

.EP_pattern__iframe {
  border: none;
  width: 100%;
}

.EP_pattern__code {
  font-family: var(--EP_font-monospace);
  padding-top: 0.5em;
}
