/**
 * Creates an iframe preview at the size of an iPhone 6.
 * Helpful for showcasing prototypes
 */

:root {
  --EP_preview-width: 400px;
  --EP_preview-height: 600px;
}

.EP_preview {
  display: block;
  height: calc(var(--EP_preview-height) / 3);
  overflow: hidden;

  @media (min-width: 800px) {
    height: calc(var(--EP_preview-height) / 2);
    width: calc(var(--EP_preview-width) / 2);
  }
}

.EP_preview__iframe {
  border: none;
  height: var(--EP_preview-height);
  pointer-events: none;
  transform-origin: top left;
  width: 100%;

  @media (min-width: 800px) {
    transform: scale(0.5);
    width: var(--EP_preview-width);
  }
}
