/**
 * Creates an iframe preview at the size of an iPhone 6.
 * Helpful for showcasing prototypes
 */

:root {
  --EP_preview-width: 320px;
  --EP_preview-height: 568px;
}

.EP_preview {
  display: block;
  height: calc(var(--EP_preview-height) / 4);
  overflow: hidden;

  @media (min-width: 800px) {
    height: calc(var(--EP_preview-height) / 2);
    width: calc(var(--EP_preview-width) / 2);
  }
}

.EP_preview__iframe {
  border: none;
  object-fit: fill;
  pointer-events: none;
  width: 100%;

  @media (min-width: 800px) {
    height: var(--EP_preview-height);
    transform: scale(0.5);
    transform-origin: top left;
    width: var(--EP_preview-width);
  }
}
