/**
 * The code below should be moved to a pattern
 */

 .EP_prototype-listing {
  border-top: 1px solid var(--color-light-grey);
  display: flex;
  padding-top: 1em;
}

.EP_prototype-listing__graphic {
  margin-right: 1em;
}