/**
 * This file houses styles specifically for the pattern library documentation.
 * All styles are namespaced by `📚`. If you'd like to change this you can with
 * a global find and replace. 
 *
 * These styles are not loaded on user facing pages.
 */

.📚pattern {
  background: #ddd;
  padding: 0.5em;
}

.📚pattern__example {
  background: #fff;
  padding: 1em;
}