/**
 * This file houses styles specifically for the pattern library documentation.
 * All styles are namespaced by `📚`. If you'd like to change this you can with
 * a global find and replace. 
 *
 * These styles are not loaded on user facing pages.
 */

* {
  box-sizing: border-box;
}

html, body {
  height:100%;
}

.📚layout {
  background: #fff;
  display: flex;
  height: 100%;

  h1, h2, h3 {
    margin-bottom: 1em;
  }

  p, ul {
    margin-bottom: 1em;
  } 

  li {
    margin-left: 1em;
  }
}

.📚content {
  padding: 1em;
}

.📚side-nav {
  background: #eee;
  flex-basis:10em;
  flex-grow: 0;
  flex-shrink: 0;
  height: 100%;
  padding: 1em;
}

.📚side-nav__section {
  padding-bottom: 2em;
}

.📚pattern {
  background: #ddd;
  padding: 0.5em;
}

.📚pattern__example {
  background: #fff;
  padding: 1em;
}