/**
 * This is problematic...
 * We want some sane defaults when building out our scaffolding, but we can't
 * assume the pattenr library creator will want these defaults. We'll most
 * likely want to figure out a clever name spacing solution.
 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}