<li class="EP_card"> 
  <div class="EP_card__content EP_u_stagger-items">
    <h2>
      <a class="EP_card__primary-action EP_card__primary-action" href="{{url url}}">
        {{data.title}}
      </a>
    </h2>

    {{{markdown this.templateContent}}}
  </div>
</li>