---
layout: layouts/pattern-library
---

<div>
  <h1>{{title}}</h1>

  {{{ content }}}

  {{#each (sortCollection collections.patternExamples)}}
    {{#if (isExamplePath this.inputPath ../page.inputPath)}}
      {{> layouts/pattern-example this}}
    {{/if}}
  {{/each}}
</div>
