---
layout: layouts/pattern-layout
---

<div class="EP_content EP_u_stagger-items">
  <h1>{{title}}</h1>

  {{{ content }}}

  {{#each (sortCollection collections.patternExamples)}}
    {{#if (isExamplePath this.inputPath ../page.inputPath)}}
      {{~> layouts/pattern-example this~}}
    {{/if}}
  {{/each}}
</div>
