---
layout: layouts/base
styles: 
- /styles/eleventy-patterns/index
---
<div class="EP_layout">
  <aside class="EP_layout__sidebar">
    <nav class="EM_u_stagger-items">
      <h2>
        <a href="/">
          Eleventy Patterns
        </a>
      </h2>

      <h3>
        <a href="/patterns">
          Patterns
        </a>
      </h3>

      <h3>
        <a href="/prototypes">
          Prototypes
        </a>
      </h3>

      {{#each collections.patterns}}
        {{#unless data.hide}}
          <a href="{{url url}}" class="EP_nav__link">
            {{data.title}}
          </a>
        {{/unless}}
      {{/each}}
    </nav>
  </aside>

  <main class="EP_layout__content EM_u_stagger-items">
    {{{ content }}}
  </main>
</div>