---
layout: layouts/base
styles:
- /styles/eleventy-patterns/index
scripts:
- /scripts/eleventy-patterns/index
- /scripts/eleventy-patterns/navigation
---
<div class="EP_layout">
  <div class="EP_header-container EP_js-header-container">
    <header class="EP_header">
      <h2>
        <a href="/" class="EP_nav__logo">
          Eleventy Patterns
        </a>
      </h2>
      <button class="EP_nav__menu-toggle EP_js-nav__menu-toggle EP_button" aria-expanded="false">Menu</button>
    </header>
    <nav class="EP_nav">
      <ul class="EP_nav__menu EP_js-nav__menu">
        {{> layouts/menu-section title="Prototypes" link="prototypes" collection=collections.prototypes}}
        {{> layouts/menu-section title="Patterns" link="patterns" collection=collections.patterns}}
      </ul>
      <ul class="EP_nav__menu-large">
        <li>
          <a href="/prototypes" class="EP_nav__link-primary">
            Prototypes
          </a>
        </li>
        <li>
          <a href="/patterns" class="EP_nav__link-primary">
            Patterns
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <main class="EP_layout__main">
    {{{ content }}}
  </main>
</div>
