<h2>{{data.title}}</h2>

{{{markdown data.notes}}}

<figure class="S_pattern">
  <div class="S_pattern__example">
    {{{ templateContent }}}
  </div>
  <pre class="S_pattern__code"><code>{{templateContent}}</code></pre>
</figure>

