---
layout: layouts/pattern-library
---

<div class="EP_layout__sidebar">
  <ul class="EP_u_stagger-items EP_sidebar__menu">
    {{#each (sortCollection collections.patterns)}}
      {{#unless data.hide}}
        <li class="EP_sidebar__menu-item">
          <a href="{{url url}}" class="EP_nav__link">
            {{data.title}}
          </a>
        </li>
      {{/unless}}
    {{/each}}
  </ul>
</div>

<div class="EP_layout__category EP_u_stagger-items">
  <h1>{{title}}</h1>

  {{{ content }}}

  {{#each (sortCollection collections.patternExamples)}}
    {{#if (isExamplePath this.inputPath ../page.inputPath)}}
      {{> layouts/pattern-example this}}
    {{/if}}
  {{/each}}
</div>
