<h2>{{data.title}}</h2>

{{{markdown data.notes}}}

<figure class="📚pattern">
  <div class="📚pattern__example">
    {{{ templateContent }}}
  </div>
  <pre class="📚pattern__code"><code>{{templateContent}}</code></pre>
</figure>

