---
layout: layouts/base
styles:
- /styles/eleventy-patterns/index
scripts:
- /scripts/eleventy-scripts/eleventy
---
<div class="EP_layout">
  <nav class="EP_nav">
    <h2>
      <a href="/">
        Eleventy Patterns
      </a>
    </h2>

    <button class="EP_nav__menu-toggle">Menu</button>

    <ul class="EP_nav__menu">
      <li class="EP_nav__category">
        <h3 class="EP_nav__link">
          <a href="/prototypes">
            Prototypes
          </a>
        </h3>
      </li>
      <li class="EP_nav__category">
        <h3 class="EP_nav__link">
          <a href="/patterns">
            Patterns
          </a>
        </h3>
      </li>
    </ul>
  </nav>

  <main class="EP_layout__content">
    {{{ content }}}
  </main>
</div>
