/**
 * This file houses styles specifically for the pattern library documentation.
 * All styles are namespaced by `EP_`. If you'd like to change this you can with
 * a global find and replace. 
 *
 * These styles are not loaded on user facing pages.
 */

 @import 'prism-code-highlighting.scss';
 @import 'utilities/index.scss';

:root {
  /* System Fonts as used by GitHub */
  --font-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  /* Monospace system fonts used by GitHub */
  --font-monospace: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.EP_layout {
  background: #fff;
  display: flex;
  font-family: var(--font-system);
  height: 100%;

  li {
    margin-left: 1em;
  }

  * {
    box-sizing: border-box;
  }
}

.EP_content {
  padding: 1em;
  flex-grow: 1;
}

.EP_side-nav {
  background: #eee;
  flex-basis:10em;
  flex-grow: 0;
  flex-shrink: 0;
  height: 100%;
  padding: 1em;
}

.EP_side-nav__link {
  display: block;
}

.EP_pattern {
  background: #ddd;
  padding: 0.5em;
}

.EP_pattern__example {
  background: #fff;
  font-family: unset;
  padding: 1em;
}

.EP_pattern__code {
  font-family: var(--font-monospace);
  padding-top: 0.5em;
}

.EP_prototype-listing {
  display: flex;
}

:root {
  --S-preview-width: 320px;
  --S-preview-height: 568px;
}

.EP_preview {
  display: block;
  height: calc(var(--S-preview-height) / 2);
  overflow: hidden;
  width: calc(var(--S-preview-width) / 2);
}

.EP_preview__iframe {
  height: var(--S-preview-height);
  pointer-events: none;
  transform: scale(0.5);
  transform-origin: top left;
  width: var(--S-preview-width);
}