/**
 * This file houses styles specifically for the pattern library documentation.
 * All styles are namespaced by `S_`. If you'd like to change this you can with
 * a global find and replace. 
 *
 * These styles are not loaded on user facing pages.
 */

@import 'prism-code-highlighting.scss';

.S_layout {
  background: #fff;
  display: flex;
  height: 100%;

  h1, h2, h3 {
    margin-bottom: 1em;
  }

  p, ul {
    margin-bottom: 1em;
  } 

  li {
    margin-left: 1em;
  }

  * {
    box-sizing: border-box;
  }
}

.S_content {
  padding: 1em;
  flex-grow: 1;
}

.S_side-nav {
  background: #eee;
  flex-basis:10em;
  flex-grow: 0;
  flex-shrink: 0;
  height: 100%;
  padding: 1em;
}

.S_side-nav__section {
  padding-bottom: 2em;
}

.S_pattern {
  background: #ddd;
  padding: 0.5em;
}

.S_pattern__example {
  background: #fff;
  padding: 1em;
}

.S_pattern__code {
  padding-top: 0.5em;
}

.S_prototype-listing {
  display: flex;
}

:root {
  --S-preview-width: 320px;
  --S-preview-height: 568px;
}

.S_preview {
  display: block;
  height: calc(var(--S-preview-height) / 2);
  overflow: hidden;
  width: calc(var(--S-preview-width) / 2);
}

.S_preview__iframe {
  height: var(--S-preview-height);
  pointer-events: none;
  transform: scale(0.5);
  transform-origin: top left;
  width: var(--S-preview-width);
}