---
title: Prototype Example
labels:
- wip
- approved
- patternready
- archived
notes: 
  This is an example prototype showing every potential label.
---

<h1>Prototype Example</h1>

<p>You can use this boilerplate to prototype pages.</p>

<p>
  This is an example prototype with prototype markup, CSS and JavaScript
</p>

<p>
  You can see that our CSS is giving the page a background color.
  If you open the console, you'll see our prototype JavaScript has logged a
  message.
</p>

<p>
  Here you can see we're using 
  <a href="/patterns/pattern-example/">a pattern</a> 
  in our prototype, with its associated styles and JavaScript interactions:
</p>

{{>pattern-example}}
