:root {
  --EP_color-light-grey: #f3f6fa;
  --EP_color-med-grey: #d8dfe7;
  --EP_color-dark-grey: #505f79;
  --EP_color-text: #282f3c;
  --EP_color-white: #fff;
  --EP_color-black: #000;
  --EP_color-light-green: #e0f8ed;
  --EP_color-dark-green: #19724a;
  --EP_color-light-blue: #eef6ff;
  --EP_color-blue: #1369ec;
  --EP_color-dark-blue: #0e4080;
  --EP_color-light-red: #ffe7e7;
  --EP_color-dark-red: #cb2d23;
  --EP_color-success: #63cc37;
  --EP_color-danger: #cc6337;
}
