// :root {
//   --EP_color-light-grey: #eee;
//   --EP_color-med-grey: #ccc;
//   --EP_color-dark-grey: #999;
//   --EP_color-text: #000;
//   --EP_color-success: #63cc37;
//   --EP_color-danger: #cc6337;
//   --EP_color-misc: #3795cc;
// }

:root {
  --EP_color-light-grey: #f3f6fa;
  --EP_color-med-grey: #d8dfe7;
  --EP_color-dark-grey: #505f79;
  --EP_color-text: #282f3c;
  --EP_color-white: #fff;
  --EP_color-light-green: #e0f8ed;
  --EP_color-dark-green: #19724a;
  --EP_color-light-blue: #eef6ff;
  --EP_color-blue: #0065ff;
  --EP_color-dark-blue: #1662c5;
  --EP_color-light-red: #ffe7e7;
  --EP_color-dark-red: #b30000;
  --EP_color-success: #63cc37;
  --EP_color-danger: #cc6337;
  --EP_color-misc: #3795cc;
}
