/**
 * This file houses styles specifically for the pattern library documentation.
 * All styles are namespaced by `EP_`. If you'd like to change this you can with
 * a global find and replace.
 *
 * These styles are not loaded on user facing pages.
 */

@import "prism-code-highlighting.scss";
@import "config/**/*.scss";
@import "patterns/**/*.scss";
@import "utilities/**/*.scss";

body,
html {
  height: 100%;
}

body.EP_no-scroll {
  overflow: hidden;
}

a {
  color: var(--EP_color-blue);
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
