---
title: Prototype Example
---

<h1>Prototype Example</h1>

<p>You can use this boilerplate to prototype page.</p>

<p>
  Simple create a folder in the `src/prototypes` directory with the 
  following files:
</p>

<ul>
  <li>`index.hbs` — markdown</li>
  <li>`styles.scss` — styles</li>
  <li>`scripts.js` — javascript</li>
</ul>