---
title: Prototype Example
---

<h1>Prototype Example</h1>

<p>You can use this boilerplate to prototype pages.</p>

<p>
  Simply create a folder in the `src/prototypes` directory with the 
  following files:
</p>

<ul>
  <li>`index.hbs` — markdown</li>
  <li>`styles.scss` — styles</li>
  <li>`scripts.js` — javascript</li>
</ul>

<p>
  You can see that our CSS is giving the page a background color.
  If you open the console, you'll see our prototype JavaScript has logged a
  message.
</p>

<p>
  Here you can see we're using 
  <a href="/patterns/pattern-example/">a pattern</a> 
  in our prototype, with its associated styles and JavaScript interactions:
</p>

{{>pattern-example}}
