---
title: Pattern Library
layout: pattern-library
---

<div class="container">
  <div class="container__content">
    <h1>Patterns</h1>

    <ul>
      {{#each collections.patterns}}
        <li>
          <a href="{{url url}}">
            {{data.title}}
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
</div>