---
title: Pattern Library
layout: layouts/pattern-sidebar
---

<div class="EP_layout__category EP_u_stagger-items">
  {{!-- You can replace the line below with your page content --}}
  {{{ markdown (readFileContents 'src/patterns/README.md') }}}

  <h2>Our Patterns</h2>

  {{#each collections.patterns}}
    <ul class="EP_u_list-reset">
      {{#unless data.hide}}
        {{> layouts/pattern-listing this}}
      {{/unless}}
    </ul>
  {{/each}}
</div>
