---
title: Eleventy Patterns
layout: layouts/pattern-library
---

<div class="EP_content EP_u_stagger-items">
  {{!-- You can replace the line below with your home page content --}}
  {{{ markdown (readFileContents 'README.md') }}}
</div>
